<?xml version="1.0"?>
<hivemq xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>
        <websocket-listener>
	          <port>8083</port>
	          <bind-address>0.0.0.0</bind-address>
	          <path>/mqtt</path>
	          <subprotocols>
	              <subprotocol>mqttv3.1</subprotocol>
	              <subprotocol>mqtt</subprotocol>
	          </subprotocols>
	          <allow-extensions>true</allow-extensions>
        </websocket-listener>
    </listeners>
    <mqtt>
        <shared-subscriptions>
            <enabled>false</enabled>
        </shared-subscriptions>
        <wildcard-subscriptions>
            <enabled>false</enabled>
        </wildcard-subscriptions>
    </mqtt>
    <security>
        <allow-empty-client-id>
            <enabled>true</enabled>
        </allow-empty-client-id>
    </security>
    <restrictions>
        <max-client-id-length>512</max-client-id-length>
        <max-topic-length>1024</max-topic-length>
        <max-connections>-1</max-connections>
        <incoming-bandwidth-throttling>0</incoming-bandwidth-throttling>
        <no-connect-idle-timeout>10000</no-connect-idle-timeout>
    </restrictions>
    <persistence>
        <mode>in-memory</mode>
    </persistence>
</hivemq>