[Unit]
Description=OSH PiAwareDriver

[Service]
WorkingDirectory=/opt/osh/osh-node
ExecStart=/bin/bash /opt/osh/osh-node/launch.sh
User=pi
Group=pi
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
